---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import CodeTabs from '../components/CodeTabs.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import InstallBlock from '../components/InstallBlock.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <InstallBlock />
    <CodeTabs />
    <FeatureGrid />
  </main>
  <Footer />
</Base>
